@import "tailwindcss";

html {
  overflow-y: auto;
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
}

#root {
  min-height: 100vh;
}
